:root {
  --primary--color: #ffffff;
  --secondary--color: #f85555;
  --tertiary--color: #dcd9d9;
  --text--gray:##ababab;
  --text--color: #515151;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: var(--primary--color);
}
<<<<<<< HEAD

h1, h2, h3 ,h4,h5,h6 {
  font-family: Yantramanav,sans-serif;
}

=======
>>>>>>> 5580b64e465dd3d1bfb583bc03b70e81b6219916
